// - - - - - - - - - - - - - - - - - - -
// - - settings
// @font-face declarations, variables


// - - - - - - - - - - - - - - - - - - -
// - - @font-face
// add fonts to project as needed by updating the $fonts map below in the following format -
// 'font-family-name': 'font-weight'

// $fonts: (
//   'font-family-one': ('font-one-light', 'font-one-dark'),
//   'font-family-two': ('font-two-light','font-two-medium')
// );

// @each $font-family, $font-weights in $fonts {
//   @each $font-weight in $font-weights {
//     @font-face {
//       name: $font-weight;
//       src:
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.eot?#iefix') format('embedded-opentype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.woff') format('woff'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.ttf') format('truetype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.svg##{$font-weight}') format('svg');
//     }
//   }
// }

// - - - - - - - - - - - - - - - - - - -
// - - variables
$icon-font-path: '../fonts/';

// ----- Colors ----- //

// Background
$s-bg-color: #efefef;
$s-bg-secondary-color: #d7e6eb;

$s-primary-color: #0296c3;
$s-secondary-color: #006583;
$s-tertiary-color: #004e66;

// Text
$s-text-color: #4b4b4b;
$s-text-secondary-color: #91bac7;
$s-link-color: #007396;
$s-link-secondary-color: #0095c2;
$s-link-tertiary-color: #ffffff;


// ----- Type ----- //

$t-font-size: 16px;

$t-line-height: $t-font-size * 1.5;

