<section class="login">
    <div class="login__content">
        <img src="images/logo-holydis.png" alt="logo" class="logo">
        <form action="" method="" role="form">
        <legend>Module collaborateur</legend>

            <div class="form-group">
                <input type="text" id="" placeholder="Adresse email ou ID">
            </div>
            <div class="form-group">
                <input type="text" id="" placeholder="Mot de passe">
            </div>

            <div class="checkbox">
              <input type="checkbox" value="remember" id="remember"><label for="remember"><span></span> Se souvenir de moi </label>
              <a href="#" class="link-desktop">Mot de passe oublié ?</a>
          </div>
          <button type="submit" class="button--yellow"><a href="#">Connexion</a></button>
      </form>
          <a href="#" class="link-mobile">Mot de passe oublié ?</a>
      <p>
          Des problèmes pour vous connecter ? <br>
          <a href="#">Contactez-nous</a> pour plus d'informations
      </p>
  </div>
</section>