<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SWMC.edu</title>

  <!-- Sets initial viewport load and disables zooming  -->
<!--   <meta id="viewport" name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1" />
 -->
 <meta name="viewport" content="width=1225, height=device-height">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/jstree/dist/themes/default/style.css" />
  <link rel="stylesheet" href="/bower_components/jstree-bootstrap-theme/dist/themes/proton/style.min.css" />
  <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/classic.css" />
  <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/classic.date.css" />
  <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/classic.time.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

</head>
<body>
