<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/jstree/dist/jstree.js"></script>
<script src="/bower_components/pickadate/lib/picker.js"></script>
<script src="/bower_components/pickadate/lib/picker.date.js"></script>
<script src="/bower_components/pickadate/lib/picker.time.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js scripts/plugins.js -->
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="/scripts/main.js"></script>
<!-- endbuild -->

</body>
</html>
